body{
    background-image: url("../images/imgback.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: pink;
    
}
h1{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 30px 450px 20px 450px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: rgb(169, 9, 9);

}
